.Button {
  background-color: rgb(236, 236, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
}

.Button_LOGIN {
  background-color: rgb(100, 201, 100);
  color: white;
  cursor: auto;
}

.Button_LOGOUT {
  background-color: rgb(253, 86, 95);
  color: white;
  cursor: pointer;
}
