.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}

.header > div {
  display: flex;
}

.header .header_center {
  width: 50%;
  font-size: 25px;
  text-align: center;
}

.header .header_left {
  width: 25%;
  text-align: left;
  justify-content: flex-start;
}

.header .header_right {
  width: 25%;
  text-align: right;
  justify-content: flex-end;
}
